##errorCatcher Echo
##
##This program is free software; you can redistribute it and/or modify it
##under the terms of the GNU General Public License as published by the Free
##Software Foundation; either version 2 of the License, or (at your option)
##any later version.
##
##This program is distributed in the hope that it will be useful, but WITHOUT
##ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
##FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
##more details.
##
##############################################################################
##                                                                           #
## Highcharts for weewx Extension                                            #
##                                                                           #
## Year observation plots JSON data file template                            #
##                                                                           #
## Version: 0.2.1                                     Date: 16 May 2017      #
##                                                                           #
##############################################################################
[{
"_version": "year.json.tmpl version 0.2.0", 
"utcoffset": $utcOffset, 
"timespan": {"start": $yearPlotStart, "stop": $yearPlotEnd}, 
"temperatureplot": {
"outTempminmax": $outTempMinMax_json, 
"outTempaverage": $outTempAvg_json, 
"units": "$unit.label.outTemp"#slurp
#if $varExists('$outTemp_min_range')
, 
"minRange": $outTemp_min_range},
#else
}, 
#end if
"windchillplot": {
#if $appTempMinMax_json is not None
"appTempminmax": $appTempMinMax_json, 
#end if
#if $appTempAvg_json is not None
"appTempaverage": $appTempAvg_json, 
#end if
"windchillaverage": $windchillAvg_json, 
"heatindexaverage": $heatindexAvg_json, 
"units": "$unit.label.outTemp"#slurp
#if $varExists('$outTemp_min_range')
, 
"minRange": $outTemp_min_range},
#else
}, 
#end if
"humidityplot": {
"outHumidityminmax": $outHumidityMinMax_json, 
"outHumidityaverage": $outHumidityAvg_json, 
"units": "$unit.label.outHumidity"#slurp
#if $varExists('$outHumidity_min_range')
, 
"minRange": $outHumidity_min_range},
#else
}, 
#end if
"barometerplot": {
"barometerminmax": $barometerMinMax_json, 
"barometeraverage": $barometerAvg_json, 
"units": "$unit.label.barometer"#slurp
#if $varExists('$barometer_min_range')
, 
"minRange": $barometer_min_range},
#else
}, 
#end if
"windplot": {
"windmax": $windMax_json, 
"windaverage": $windAvg_json, 
"windAvmax": $windSpeedMax_json, 
"windAverage": $windSpeedAvg_json, 
"units": "$unit.label.windSpeed"#slurp
#if $varExists('$windSpeed_min_range')
, 
"minRange": $windSpeed_min_range},
#else
}, 
#end if
"winddirplot": {"windDir": $windDir_json, 
"units": "$unit.label.windDir"#slurp
#if $varExists('$windDir_min_range')
, 
"minRange": $windDir_min_range},
#else
}, 
#end if
"rainplot": {
"rainsum": $rainSum_json, 
"units": "$unit.label.rain"#slurp
#if $varExists('$rain_min_range')
, 
"minRange": $rain_min_range},
#else
}, 
#end if
"radiationplot": {
"radiationmax": $radiationMax_json, 
"radiationaverage": $radiationAvg_json, 
"units": "$unit.label.radiation"#slurp
#if $varExists('$radiation_min_range')
, 
"minRange": $radiation_min_range},
#else
}, 
#end if
"uvplot": {
"uvmax": $uvMax_json, 
"uvaverage": $uvAvg_json, 
"units": "$unit.label.uv"#slurp
#if $varExists('$UV_min_range')
, 
"minRange": $UV_min_range},
#else
}, 
#end if
"windroseMonth": {#slurp
"series": $wrmonth['windrosejson'], 
"xAxis": {"categories": $wrmonth['xAxisCategoriesjson']}, 
"yAxis": $wrmonth['yAxisjson'],
"colors": $wrmonth['coloursjson'], 
"title": {"text": $wrmonth['titlejson']}, 
"legend": {"title": {"text": $wrmonth['legendTitlejson']}},
"bullseye": $wrmonth['bullseyejson']
},
"windroseYear": {#slurp
"series": $wryear['windrosejson'], 
"xAxis": {"categories": $wryear['xAxisCategoriesjson']}, 
"yAxis": $wryear['yAxisjson'],
"colors": $wryear['coloursjson'], 
"title": {"text": $wryear['titlejson']}, 
"legend": {"title": {"text": $wryear['legendTitlejson']}},
"bullseye": $wryear['bullseyejson']
}
}]